@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hero {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.instrument-div {
  width: calc(100vw - 2rem);
}

.landing-page-div {
  min-height: calc(100vh - 12rem);
}

.home {
  min-height: calc(100vh - 16rem);
}

.layout-children {
  min-height: calc(100vh - 11rem);
  
}

.loading-bar {
  animation: tube 1s linear infinite;

}

@keyframes tube {
  0%, 100% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-50%);
  }
}