@tailwind base;
@tailwind components;
@tailwind utilities;

.instrument-div {
  width: calc(100vw - 2rem);
}

.landing-page-div {
  min-height: calc(100vh - 12rem);
}

.home {
  min-height: calc(100vh - 16rem);
}

.layout-children {
  min-height: calc(100vh - 14rem);
  
}

.loading-bar {
  animation: tube 1s linear infinite;

}

@keyframes tube {
  0%, 100% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-50%);
  }
}