@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Layout */

  .sign-in-btn {
    @apply m-2 border p-2 rounded flex flex-row items-center w-72 hover:bg-slate-200 active:bg-slate-300
  }
  .primary-btn {
    @apply border bg-blue-600 text-white m-2 rounded p-2 shadow hover:shadow-lg active:shadow-md  hover:bg-blue-700 active:bg-blue-400
  }
  .secondary-btn {
    @apply border border-blue-300 text-blue-600 m-2 rounded p-2 shadow hover:border-blue-600 hover:bg-blue-50 active:bg-blue-300
  }
  .menu-div {
    @apply w-full h-full sm:h-auto sm:w-1/2 fixed bg-white right-0 mt-16 shadow
  }
  .menu-link {
    @apply text-center p-4 hover:bg-slate-100 active:bg-white
  }
  .layout {
    @apply min-h-screen w-screen flex flex-col justify-between font-nunito
  }
  .layout-children {
    @apply w-screen p-2 flex flex-col items-center mt-16 bg-white
  }
  .main-header {
    @apply w-screen text-center
  }
  .menu-icon {
    @apply p-2 mr-2 w-10 h-10 text-black hover:bg-blue-50 active:bg-blue-100 rounded-full
  }
  .header-title {
    @apply p-2 text-3xl text-blue-600 rounded m-1 hover:text-blue-500 active:text-blue-600 
  }
  .footer {
    @apply bottom-0 h-24 w-full flex flex-row items-center justify-between bg-slate-100 text-sm
  }
  .footer-links {
    @apply flex flex-col mr-2
  }
  .footer-link {
    @apply text-blue-500 hover:text-blue-600 active:text-blue-700 text-base text-end
  }
  .react-icons {
    @apply p-2 w-10 h-10
  }
  .generic-btn {
    @apply shadow rounded p-2 m-2
  }
  .home {
    @apply flex flex-col items-center w-screen mt-16 
  }
  .home-blurb {
    @apply flex flex-col items-center justify-center p-4
  }
  .home-h1 {
    @apply font-bold
  }
  .tile-list {
    @apply flex flex-col  items-center justify-center w-screen pt-12
  }
  .home-tile {
    @apply border m-2 rounded shadow-sm flex flex-col items-center justify-center hover:bg-blue-50 active:bg-blue-100 h-40 w-96 font-light
  }
  .home-tile-title {
    @apply font-sans text-2xl
  }
  .tile-icon {
    @apply p-2 w-12 h-12 text-blue-600
  }
  .header {
    @apply border-b border-slate-400 z-10 flex flex-row w-full h-16 items-center justify-between bg-white shadow-sm text-black fixed opacity-90
  }
  /* Landing Page */
  .landing-page-header {
    @apply border-b px-2 z-10 flex flex-row w-full h-16 items-center justify-between bg-white shadow-sm text-black fixed opacity-90
  }
  .landing-page-h1 {
    @apply text-5xl font-bold
  }
  .landing-page-div {
    @apply pl-32 pt-24 
  }
  .landing-footer {
    @apply flex flex-row justify-center
  }

  .signin-btn {
    @apply text-white font-semibold shadow rounded-md m-4 py-2 px-4 bg-yellow-500 hover:bg-yellow-600 hover:opacity-100 active:bg-yellow-400
  }
  
  .input-box {
    @apply border mx-2 my-2 rounded-md
  }

  .datetime-input {
    @apply border mx-2 my-2 rounded-md
  }
  .input-box-lg {
    @apply border mx-2 my-2 rounded-md h-24
  }
  .text-box {
    @apply border mx-2 my-2 rounded-md h-24 w-3/4 self-center

  }

  /* Fixing */
  .select-menu {
    @apply border rounded p-1 m-1
  }
  .booking-num {
    @apply border rounded p-1 m-1 w-12
  }
  .edit-btn {
    @apply shadow border  active:bg-white rounded py-1 w-16 m-2 self-center
  }
  .instrument-tile {
    @apply border border-slate-400 flex flex-col w-4/5 md:w-1/3  rounded m-2 
  }

  .instrument-tile-header {
    @apply flex flex-row w-full justify-between items-center p-4
  }
  .call-list-item {
    @apply  border border-slate-400 flex flex-row items-center justify-between p-4 w-full
  }
  .edit-calls-item {
    @apply hover:bg-slate-100
  }
  .active-calls-div {}
  .calls-info {
    @apply pl-4
  }
  .call-list-div {
    @apply p-2 
  }
  .appended-list {
    @apply -mt-3
  }
  .edit-calls-form {
    
  }
  .available-players-list {
    @apply pt-8  pb-4 mb-2
  }
  .no-players {
    @apply text-center
  }
  .form-label {
    @apply text-sm text-gray-600
  }
  .form-div {
    @apply p-4
  }
  .edit-div-sans-lists {
    @apply p-2
  }
  


  /* Create Event Form */
  .form-error {
    @apply text-red-600 text-xs ml-4 -mt-1
  }
  .datetime-input {
    @apply border rounded border-slate-400 hover:border-black p-4 w-48 
  }
  .datetime-div {
    @apply flex flex-col my-2 -ml-2 
  }
  .datetime-label {
    @apply ml-4 -mb-2 text-sm
  }

  .fix-form {
    @apply flex flex-col md:w-2/3 p-2
  }
  .add-btn {
    @apply flex border p-1 w-32 items-center justify-center rounded self-end bg-gray-300 shadow-sm
  }
  .submit-btn {
    @apply flex border p-2 m-2 w-20 items-center justify-center rounded self-end bg-blue-500 text-white shadow-sm
  }

  .directory-list {
    @apply flex flex-col
  }
  .directory-link {
    @apply p-1 m-1 text-blue-500 hover:text-blue-600 active:text-blue-700 
  }

  .search-bar {
    @apply p-2 flex flex-col w-80 justify-evenly 
  }
  .search-bar-input {
    @apply border shadow p-1 rounded-full m-2
  }
  .search-bar-btn {
    @apply flex border p-1 w-20 items-center justify-center rounded bg-blue-500 text-white shadow-sm self-end
  }

  .call-lists-div {
    @apply m-2 p-2
  }

  .call-order-lists-div {
    @apply my-4
  }

  .call-order-list {
    @apply m-2 border p-1 rounded shadow
  }

  .call-rand-list {
    @apply flex flex-row text-2xl 
  }
  .call-icon-btn {
    @apply p-1 rounded-full hover:bg-green-50 active:bg-yellow-100
  }
  .call-order-header {
    @apply flex flex-col  
  }
  .call-order-header-div-upper {
    @apply p-1
  }
  .call-order-header-div-lower {
    @apply  flex flex-row items-center justify-between p-1
  }
  .call-order-item {
    @apply border p-1 flex flex-row justify-between hover:bg-green-50 active:bg-green-100
  }
  .bin-btn {
    @apply hover:bg-red-100 active:bg-red-200 rounded-full p-1
  }
  .plus-minus-btns {
    @apply hover:bg-green-50 active:bg-green-100 rounded-full p-1 m-1
  }
  
  .live-list-item {
    @apply border-t p-1 flex flex-row justify-between items-center

  }

  .list-arr-div {
    @apply flex flex-row flex-wrap justify-evenly p-2
  }
  .single-list-div {
    @apply shadow p-4 w-2/5 m-1
  }
  .list-page-header {
    @apply flex flex-row justify-between p-2
  }
  .new-list-btn {
    @apply p-2 rounded shadow text-white bg-blue-500
  }

  .mini-list {
    @apply p-2 m-2 rounded shadow hover:bg-green-50 active:bg-green-100
  }

  .event-list {
    @apply w-screen flex flex-col 
  }
  /* Upcoming Events */
  .calendar-div {
    
  }
  .event-tile-div {
    @apply border border-slate-400 m-4 shadow p-2 rounded  flex flex-col md:w-1/2 w-5/6
  }
  
  .call-div {
    @apply border border-slate-400 p-2 my-3
  }
  .add-call-btn {
    @apply border p-2 px-2 m-2 rounded-md shadow text-white bg-blue-500 hover:bg-blue-400 active:bg-blue-600
  }
  .call-tile-btns {
    @apply flex flex-row justify-evenly
  }
  .call-tile-btn {
    @apply shadow text-white p-2 rounded-md
  }

  /* Directory */
  .directory {
    @apply w-screen flex flex-col items-center
  }
  .instrument-div {
    @apply m-2 p-2 border rounded border-slate-400 shadow-sm
  }
  .instrument-no-calls {
    @apply opacity-50 w-full m-2 p-2  hover:opacity-100 hover:bg-slate-50 shadow
  }
  .player-tile {
    @apply border border-slate-400 rounded-md w-full  shadow-sm h-48 flex flex-col items-center justify-center m-2 
  }
  .user-image {
    @apply text-6xl text-gray-700 border-4 border-black rounded-full m-2 w-16 h-16
  }
  .instrument-header {
    @apply w-full h-full flex flex-row justify-between items-center p-1
  }
  .instrument-players {
    @apply flex flex-row flex-wrap items-center justify-center p-2
  }
  .instrument-player {
    @apply border-b m-1 p-1 flex flex-row items-center justify-between w-1/2
  }

  /* Profile */
  .profile-header {
    @apply flex flex-col shadow p-2 m-2 items-center justify-center
  }
  .profile-text {
    @apply p-2 m-2
  }
  .profile-buttons-div {
    @apply flex flex-row items-center justify-center
  }



}
.fix-form {
  width: calc(100vw - 2rem);
}
.instrument-div {
  width: calc(100vw - 2rem);
}

.landing-page-div {
  min-height: calc(100vh - 12rem);
}

.home {
  min-height: calc(100vh - 16rem);
}

.layout-children {
  min-height: calc(100vh - 8rem);
  
}

.loading-bar {
  animation: tube 1s linear infinite;

}

@keyframes tube {
  0%, 100% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-50%);
  }
}